@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --accent: #9836D9;
  --tertiary: #F2CB57;
  --primary: #7C05F2;
  --black-text: hsla(16, 23%, 9%, 1);
  --white-surface: #F2F2F2;
  --balck-surface: #0e1217;
  --gray-surface: hsla(210, 100%, 98%, 1);
  --gray-text: #8C8C8C;
  --foreground: #171717;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-tertiary: var(--tertiary);
  --color-black-text: var(--black-text);
  --color-gray-text: var(--gray-text);
  --color-background: var(--white-surface);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media  base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: none;

    -moz-osx-font-smoothing: grayscale;
  }
  html {
    scroll-behavior: smooth;
  }
}
/*todo: define dark mode theme */
/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  background: var(--background);
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}


